<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{/admin/main_layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #about-static-resources},
                                                ~{:: #about-main-content}
                                               )}">

<head>
	<title>Sản phẩm</title>

	<th:block id="about-static-resources">

		<link rel="stylesheet" type="text/css" th:href="@{/css/product.css}" />

	</th:block>
</head>
<body>
<div id="about-main-content">
	<h2>Đây là trang sản phẩm</h2>
</div>
</body>
</html>